#editorContainer
{
    position: fixed;
    left: 201px;
    right: 0;
    top: 0px;
    bottom: 0px;
    background-color: #eee;
}

#editor
{
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 20pt;
    overflow: scroll;
}

div.closeButton
{
    width: 1.2em;
    height: 1.2em;
    background-color: #868c93;
    border-radius: 1.2em;
    border: 2px solid rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 4px;
    cursor: pointer;
    top: 3px;
}

div.closeButton:after
{
    content: "x";
    font-family: Monaco;
    color: white;
    text-shadow: 0px 0px 0px transparent;
    font-weight: normal;
    position: relative;
    font-size: 11px;
    top: -2px;
    left: 4px;
}

div.filterNode
{
    background-image: -webkit-linear-gradient(#fff, #ddd);
    border: 1px solid #999;
    border-radius: 8px;
    width: 200px;
    height: 3em;
    position: fixed;
    z-index: 500;
    opacity: 0.3;
    font-size: 9pt;
    font-weight: bold;
}

div.filterNodeLanded
{
    box-shadow: 0px 0px 4px #aaa;
    -webkit-transition: opacity 0.25s ease-in-out;
    -webkit-transition: height 0.25s ease-in-out;
    opacity: 1.0;
    height: 8em;
}

div.filterNodeRemoved
{
    -webkit-transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

div.filterBubble
{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    opacity: 1.0;
    z-index: 50;
    position: absolute;
    right: 8px;

    background-color: #8EC9EB;
    border: 2px solid #7CA7D2;
    box-shadow: 0px 0px 4px #999;
}

div.filterBubbleConnected, div.filterBubbleOut:hover
{
    background-color: #7CA7D2;
}

div.filterBubbleConnected:hover
{
    opacity: 1.0 !important;
}

.feMasterInput>.dragHandle
{
    padding: 5px !important;
}

div.dragHandle
{
    cursor: move;
    padding: 5px 25px 5px 5px;
    position: absolute;
    left: 0px;
    top: 0px;

    background-image: -webkit-linear-gradient(#d6dce3, #a6acb3);

    border-radius: 8px 0px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;

    text-shadow: 0px 0px 5px white;
}

div.noodle
{
    height: 20px;
    width: 4px;
    position: absolute;
    z-index: 51;
    -webkit-transform-origin: 50% 0%;
    background-color: #7CA7D2;
    box-shadow: 0px 0px 4px #999;
}

table.parameters
{
    padding: 29px 0px 0px 7px;
    top: 2.2em;
    left: 5px;
    right: 15px;
    width: 100%;
    font-size: 8pt;
    color: #888;
    font-weight: normal;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
}

div.filterNodeLanded > table.parameters
{
    opacity: 1;
}

td.leftColumn
{
    width: 25%;
}

td.rightColumn
{
    text-align: left;
}

span.parameterName
{
    margin-right: 5px;
}

.rangeInput
{
    position: relative;
    top: 2px;
    left: 5px;
    width: 80%;
}

.selectInput
{
    position: relative;
    left: 5px;
}

/* Move these elsewhere */

.feMasterInput
{
    height: 3em !important;
}

.feGaussianBlur, .feTurbulence, .feDisplacementMap, .feBlend, .feComposite, .feMorphology
{
    width: 250px !important;
}

div.filterNodeLanded.feGaussianBlur
{
    height: 4.9em !important;
}

div.filterNodeLanded.feBlend
{
    height: 5em !important;
}

div.filterNodeLanded.feComposite
{
    height: 5em !important;
}

div.filterNodeLanded.feTurbulence
{
    height: 9em !important;
}

div.filterNodeLanded.feDisplacementMap
{
    height: 9.2em !important;
}

div.filterNodeLanded.feMorphology
{
    height: 7em !important;
}