html, body {
  height: 100%;
  overflow: hidden;
  font: 11pt 'Lucida Grande';
  -webkit-user-select: none;
}

div.heading
{
    background-image: -webkit-linear-gradient(white, #ddd, #bbb);
    border-bottom: 1px solid #666;
    color: #444;
    font-variant:small-caps;
    font-weight: bold;
    padding: 2px 0px 5px 5px;
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
}

#previewContainer
{
    position: fixed;
    left: 201px;
    right: 0;
    top: 70%;
    bottom: 0px;
    background-color: #ccc;
}